.team{
    @include make-container();
    @include make-container-max-widths();

    padding-top: 130px;

    //styles for text
    &__title {
        margin-left: -15px;
        margin-bottom: 0.75em;

        //<768px
        @include media-breakpoint-down(sm){
            text-align: center;
            margin-left: 0;
        }
    }

    &__intro {
        max-width: 410px;
        line-height: $line-height;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 60px;

        //<768px
        @include media-breakpoint-down(sm){
            margin: 0 auto 60px;
        }

        &::after{
            @include after-position-absolute($height:2px, $width:130px, $bg: #ff2d2d);
            @include position-from-bottom(0,0);

            //<768px
            @include media-breakpoint-down(sm){
                @include position-from-bottom(50%,0, true);
            }
        }
    }

    //block with row, column for images and name
    //make row

    &__pearsons{
        @include make-row();
        margin-bottom: 110px;
    }

    &__pearson-single{
        //styles for big image part
        @include make-col(3);

        //768-992px
        @include media-breakpoint-only(md){
            @include make-col(5);

            padding-right: 30px;
        }

        //<768px
        @include media-breakpoint-down(sm){
            @include make-col(12);
            margin-bottom: 30px;
            padding: 0 15px;
        }

        &-picture{
            height: 460px;
            max-width: 400px;

            @include media-breakpoint-down(sm){
                margin: 0 auto;
            }
        }

        &-img {
            width: 100%;
            height: 100%;
            background: $light-color;
        }
    }

     //styles for part with name
    &__pearson{
        //position block
        &-info {
            @include make-col-offset(1);
            @include make-col(8);

            //768-992
            @include media-breakpoint-only(md){
                @include make-col-offset(0);
                @include make-col(7);
            }

            //<768px
            @include media-breakpoint-down(sm){
                @include make-col-offset(0);
                @include make-col(12);
                text-align: center;
            }

        }

        &-name {
            margin-bottom: 1em;
        }

        &-about {
            max-width: 600px;
            margin-bottom: 45px;
            line-height: $line-height;
        }

        //styles for part with social link

        &-social{
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            flex-wrap: wrap;

            //768-992px
            @include media-breakpoint-only(md){
                justify-content: center;
                margin-bottom: 3px;
            }

            @include media-breakpoint-down(sm){
                justify-content: center;
            }

            &-item {
                font-style: italic;
                padding: 10px 0;
                margin-right: 30px;

                @include media-breakpoint-only(md){
                   flex-basis: 33%;
                }

            }

        }

        //row with images

        &-looking {
            @include make-row();

            //styles for card block
            &-item {
                @include make-col(3);
                padding: 15px;
                height: 195px;
                position: relative;
                cursor: pointer;

                //576-768px
                @include media-breakpoint-only(sm){
                    @include make-col(6);
                   
                }

                //<576px
                @include media-breakpoint-only(xs){
                    @include make-col(12);
                    max-width: 300px;
                    margin: auto;
                }
            }

            &-img {
                background: $light-color;
                width: 100%;
                height: 100%;
            }

            &-name {
                
                background: $dark-color;
                position: relative;
                top: -45px;
                transition: 0.5s;

                &-text{
                    color: white;
                    font-weight: 700;
                    padding: 10px;
                    text-align: center;
                }
            }
        }

    }
    
}