@mixin make-button($bg: transparent, $border-width: 1px, $upper-case: false, $border-color: transparent, $border-rad: 0) {
    display: block;
    text-align: center;
    font-size: map-get($map: $elem-font-size, $key: button);
    font-family: $font-family;
    background: $bg;
    border: $border-width solid $border-color;
    border-radius: $border-rad;

    @if($upper-case == false){
        text-transform: capitalize;
    } @else {
        text-transform: uppercase;
    }
}

@mixin button-size($padding-y: 10px, $padding-x: 10px, $line-height: 1.5){
    padding: $padding-y $padding-x;
    line-height: $line-height;
}